* {
	color: White;
	border: 15px
}

body {
	background-color: rgb(20,20,20);
	/* margin: 50px 300px; */
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 16%;
	margin-right: 16%;
	min-width: 400px;
}

b {
	padding-left: 90px;
	font-size: 20px;
	padding-top: -20px;
	vertical-align: middle;
}

p {
	padding-left: 90px;
	font-size: 20px;
	line-height: 25px;
	padding-right: 90px;
	font-size-adjust: 0.28;
}

.pRace {
	font-size: 25px;
	letter-spacing: 2px;
	line-height: 30px;
	padding-right: 30px;
	font-family: Titillium Web;
}

.pHome {
	font-size: 20px;
	font-family: 'Lato';
}


.cyberpunk {
	font-family:Titillium Web;
	letter-spacing: 1px;
	color: #DD0048;
}

li {
	line-height: 25px;
	padding-right: 90px;

}

ul {
	padding-left: 8%;
}

h1 {
	color: DodgerBlue;
	font-family: Orbitron;
	letter-spacing: 2px;
	font-size: 35px;
}

h2 {
	font-style: Italic;
	font-size: 20px;
	color: DarkOrange;
}

h3 {
	font-size: 23px;
	padding-left: 90px;
	padding-top: 10px;
	line-height: 20px;
	padding-right: 90px;
}

h4 {
	font-size: 25px;
	text-align: center;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: darkorange;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 50px;
	margin-bottom: 50px;	
	color: white;
}
h5 {
	font-size: 1px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 5px;
}

.h6 {
	font-size: 25px;
}

ul
{
	padding-left: 185px;
}

.Gray
{
	background-color: rgb(30,35,40);
	padding-top: 0.1px;
	/* border:5px; */
	/* border-color:orange; */
	/* border-style:solid; */
}

.Tab
{
	padding-left: 3%;
	padding-top: 15px;
	background-image: linear-gradient(45deg, rgb(25,35,45) 40%, rgb(25,25,25) 60%); 
	line-height: 10px;
	padding-bottom: 15px;
	border-left: 2px;
	border-left-color: DarkGoldenRod;
	border-left-style: solid;
	border-top: 1px;
	border-top-color: black;
	border-top-style: solid;
	margin-top: -7px;
}

.NavBar
{
	border: 0px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: white;
	background-color: rgb(35,35,35);
	padding: 10px;

}

.NavBarText {
	font-size: 25px;
	margin-left: 17%;
	margin-right: 9%;
	text-align: center;
}

.NavBarText:hover {
	color: DodgerBlue;
}

.Resume {
	font-size: 25px;
	text-align: center;

}

.Resume:hover {
	color: DodgerBlue;
}

.Active {
	font-size: 25px;
	padding-left: 16%;
	padding-right: 10%;
	text-align: center;
	color: DarkOrange;
}

.Active:hover {
	color: DodgerBlue;
}

.bottomBar
{
	background-color: black;
	margin-top: 0px;
	margin-bottom: -7px;
	margin-left: -0px;
	margin-right: -0px;
	font-size: 35px;
}

.right-to-left {
	border-width: 0px 14px 7px 0px;
	border-style: solid;
	-webkit-border-image: 
	-webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image: 
	-webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image:
	-moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%; 
	-o-border-image:
	-o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
	border-image:
	linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;

}
.left-to-right {
	border-width:  7px 0px 7px 14px;
	border-style: solid;
	-webkit-border-image: 
	-webkit-gradient(linear, 0, 0, 100%, 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image: 
	-webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image:
	-moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;  
	-o-border-image:
	-o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
	border-image:
	linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%; 
	margin-bottom: -7px;
}
.image {
	opacity: 0.75;
	margin-bottom: -5px;
	width: 100%;
	height: 100%;
}

.image:hover {
	filter: hue-rotate(90deg);
	cursor: pointer;
}

.image2 {
	opacity: 0.75;
	margin-bottom: -5px;
	width: 100%;
	height: 100%;
}

.image2:hover {
	filter: invert(100);
	cursor: pointer;
}

.ieeeimage {
	opacity: 0.75;
	margin-bottom: -5px;
	width: 100%;
	height: 100%;
}

.ieeeimage:hover{
	filter: hue-rotate(180deg) invert(100);
	cursor: pointer;
}

.Enviroimage
{
	margin-bottom: 	40px;
}

.Enviroimage:hover
{
	cursor: pointer;
}

th {
	vertical-align: top;
	text-align: left;
}

table {
	padding-bottom: 100px;
	padding-top: 25px;
	height: 0%;
}
td {
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	width: 33%;
}


/* Slideshow */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  margin-left: -40px;
  margin-right: -40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: dodgerblue;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: slategray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: dodgerblue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

